* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.input_section {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-bottom: 5px;
}

.input_section_half {
  display: flex;
  width: 48%;
  flex-direction: column;
  margin-bottom: 5px;
}

.section_label {
}

.main_content {
  width: 50%;
  height: calc(100vh - 65px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.second_content {
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input_label {
  background: transparent;
  height: 35px;
  width: 100%;
  font-size: 23px;
  font-weight: 100;
  color: #000 !important;
  border: 1px solid #000;
  align-content: center;
  text-align: center;
  margin: 0;
  border-radius: 5px;
}

.input_title {
  background: transparent;
  height: 80px;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #000 !important;
  border: 1px solid #000;
  align-content: center;
  text-align: center;
  margin: 0;
  border-radius: 5px;
}

.input_label:focus {
  outline: none;
}

.input_title:focus {
  outline: none;
}

.text_label {
  color: #000;
  font-size: 23px;
  font-weight: 400;
  align-content: center;
  align-items: center;
}

.btn_cadastrar {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #000;
  font-weight: 100;
  font-size: 23px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 250px;
  height: 35px;
}

.btn_cadastrar:hover {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #000;
  font-weight: 100;
  font-size: 23px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 250px;
  height: 35px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
}

.btn_cadastrar:active {
  outline: none;
}

.label_text {
  width: 60px;
}

.btn_video {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.btn_video_area {
  background-color: #fff;
  margin-bottom: 5px;
}

.btn_video_area:hover {
  box-shadow: -3px 3px rgba(0, 0, 0, 0.2);
}

.details {
  display: flex;
  flex-direction: row;
}

.itens {
  width: 80px;
  font-size: 18px;
  color: #000;
  background-color: darkcyan;
  margin: 1px;
  font-weight: 600;
}

.description {
  width: 100%;
  font-size: 18px;
  align-items: flex-end;
  color: #000;
  background-color: #f3f3f3;
  margin: 1px;
  font-weight: 600;
}

.video_details {
  margin-bottom: 10px;
}

.subjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 150px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 15px;
}

.subjects_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 3px;
  height: 30px;
  padding: 15px;
  margin-right: 5px;
}

.subject_button {
  display: flex;
  position: relative;
  top: -15px;
  left: 17px;
}

.remove_subject {
  font-size: 25px;
  border: none;
  color: red;
  background-color: transparent;
}

.gradient {
  background: rgb(23, 199, 176);
  background: linear-gradient(
    90deg,
    rgba(23, 199, 176, 1) 0%,
    rgba(9, 121, 58, 1) 35%,
    rgba(19, 89, 135, 1) 100%
  );
}

.main_content_recepi {
  width: 60%;
  height: calc(100vh - 65px);
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe_preview {
  width: 40%;
  height: calc(100vh - 65px);
  justify-content: center;

  display: flex;
  flex-direction: column;
}

.recepi_buttons_section {
  display: flex;
  width: 80%;
  margin-bottom: 5px;
}

.recepi_preview_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 20px;
}

.recepi_preview_category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.preview_category_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
